.loading-container 
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 9999
  display: flex
  justify-content: center // 垂直居中，定义了浏览器如何分配顺着父容器主轴的弹性元素之间及其周围的空间
  align-items: center
  .loading-wrapper 
    display: inline-block
    font-size: 12px
    text-align: center // loading图片左右居中
    .loading-title 
      margin-top: 5px
    